table{
	border: 2px solid #999;
	border-collapse: collapse;
	margin-bottom: 25px;
}
td{
	padding-top: 5px;
	padding-bottom: 5px;
}

.kurikulum{
	display: inline;
	height: auto; 
	max-width: 100%;
}

.kurikulum_zoom{
	display: inline;
	height: auto; 
	max-width: 100%;
}